  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path("bartender", crop: :fill) %>')">
    <div class="container">
      <h1>THE</h1>
      <h1>BARTENDER</h1>
    </div>
  </div>


<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.url.nil? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(' <%= cl_image_path("bartender", height: 300, width: 400, crop: :fill) %>')">
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(' <%= cl_image_path(cocktail.photo, height: 300, width: 400, crop: :fill) %>')">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="btn btn-outline-primary btn-rounded waves-effect">
      <%= link_to "Add a Cocktail", new_cocktail_path %>
  </div>
</div>
